.idea
.cache
.pytest_cache/
/test/__pycache__
__pycache__
build/
develop-eggs/
MANIFEST
*.manifest
.cache
*.log
*.iml
*.pyc
shape_predictor_68_face_landmarks.dat
dlib_face_recognition_resnet_model_v1.dat
test/test.npz